<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Society of Chinese Bioscientists in America | Washington D.C. Chapter</title>

<link href="/public/images/favicon.png" rel="shortcut icon">

<!-- Bootstrap core CSS -->
<link href="/public/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Navbar CSS -->
<link href="/public/css/navbar.css" rel="stylesheet">

<!-- General CSS -->
<link href="/public/css/general.css" rel="stylesheet">