<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbarSCBA" aria-controls="navbarsSCBA" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarsSCBA">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="customItem" href="/">
            <img id="header" src="/images/header.jpg">
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/membership">Membership</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/news">News & Events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/conference">Conference</a>
        </li>
      </ul>

    </div>
  </div>
</nav>