body {
  background-color: #e9ecef;
}

a {
    color: #244aed;
}

.filler {
	height: 2vh;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
.container.drop-shadow {
    padding-left:0;
    padding-right:0;
}

.list-group-item {
    background-color: transparent;
    border: 0;
    padding: 7px 15px;
}
