body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("/public/images/KT-Lecture2016-XJMeng.jpg") url("/public/images/SCBA-DC-Picnic2017.jpg") url("/public/images/IMG_4820b.jpg") url("/public/images/DSC_3467b.jpg");
}

#header {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

#img1 {
    background-image: url("/public/images/IMG_4820b.jpg");
}

#img2 {
    background-image: url("/public/images/DSC_3467b.jpg");
}

#img3 {
    background-image: url("/public/images/SCBA-DC2017-Attendees.jpg");
}

#img4 {
    background-image: url("/public/images/KT-Lecture2016-XJMeng.jpg");

}

#img5 {
    background-image: url("/public/images/SCBA-DC-Picnic2017.jpg");
}


.slider-size {
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #CCCCCC;
}

.jumbotron {
    background-color: inherit;
}
