.navbar {
	background-color: #454770;
	border-radius: 0;
}

.navbar-collapse {
	background-color: #454770;
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #6063a5;
}

.nav-item {
	vertical-align: middle;
}

.nav-link {
	font-size: 16px;
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

.navbar-brand img {
	max-height: 100%;
	max-width: auto;
}

#customItem:hover {
	background-color: transparent;
}