.navbar {
	height: 10vh;
	border-radius: 0;
}

.navbar-custom {
	background-color: #454770;
	color: #ffffff;
}

.navbar-custom .navbar-nav > li > a {
	color: #fff;
}

.navbar-custom .navbar-nav > li > a:hover {
	background-color: #6063a5;
}

.nav-item {
	vertical-align: middle;
}

#header {
	height: 7vh;
}

#customItem:hover {
	background-color: transparent;
}