<!DOCTYPE html>
<html lang="en">
  <head>
    
    <% include ../partials/head %>

    <!-- Custom styles for this template -->
    <link href="/css/index.css" rel="stylesheet">

  </head>

  <body>

    <% include ../partials/navbar %>

  </body>

</html>