<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>

    <link href="/css/news.css" rel="stylesheet">
  </head>

  <body>
    <div class="container drop-shadow">
      <% include ../partials/navbar %>
      <div class="container">
        <h2>
          News & Events
        </h2>

      	<div class="row">
      		<div class="col-md-12">
            <h3>
              News Event #1
            </h3>

            <div class="row">
              <div class="col-md-6">
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
              </div>

              <div class="col-md-6">
                <img class="newsImage" src="/images/sample_news.jpg">
              </div>
            </div>
      		</div>

          <div class="line"></div>

          <div class="col-md-12">
            <h3>
              News Event #2
            </h3>

            <div class="row">
              <div class="col-md-6">
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                </p>
              </div>

              <div class="col-md-6">
                <img class="newsImage" src="/images/sample_news.jpg">
              </div>
            </div>
          </div>
      	</div>
        <% include ../partials/footer %>
      </div>
    </div>
  </body>
</html>